@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#canvas {
  width: 8000px; 
  height: 5000px;
  background-color: #2A2A2A;
  background-image:
    linear-gradient(to right, rgb(64, 64, 64, 1) 1px, transparent 1px),
    linear-gradient(to bottom, #404040 1px, transparent 1px),
    linear-gradient(to right, rgb(52, 52, 52, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(52, 52, 52, 0.5) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0,0);
  transform-origin: 0 0;
}

.node {
  width: 120px;
  height: 60px;
  background: #2600ff;
  border: 1px solid #6e005c;
  border-radius: 8px;
  color: white;
  position: absolute;
  user-select: none;
  cursor: grab;
}

#scale-text {
  position: absolute;
  color: rgba(255, 255, 255, 0.404);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}

