@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#canvas {
  width: 8000px; 
  height: 5000px;
  background-color: #2A2A2A;
  background-image:
    linear-gradient(to right, rgb(64, 64, 64, 1) 1px, transparent 1px),
    linear-gradient(to bottom, #404040 1px, transparent 1px),
    linear-gradient(to right, rgb(52, 52, 52, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(52, 52, 52, 0.5) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0,0);
  transform-origin: 0 0;
}

.node {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 100px;
  color: rgb(0, 0, 0);
  font-family: 'Anonymous Pro';
  border-radius: 10px;
  border: 3px solid #000;
  position: absolute;
  overflow: hidden;
  user-select: none;
  cursor: grab;
}

.block-label {
  align-content: center;
  padding-left: 5px;
  background-color: white;
  flex: 1;
}

.block-padding {
  flex: 1;
}

.block-io {
  background-color: #1C1C1C;
  flex: 10;
}

#scale-text {
  position: absolute;
  color: rgba(255, 255, 255, 0.404);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}

.node[data-type="Input / Output"] {background-color: #4285F4;}
.node[data-type="Loops"] {background-color: #FB8C00;}
.node[data-type="Logic"] { background-color: #34A853;}
.node[data-type="Math"] { background-color: #9C27B0;}
.node[data-type="Variable"] { background-color: #EA4335;}
.node[data-type="Terminator"] { background-color: #C8C8C8;}

