@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#canvas {
  width: 8000px; 
  height: 5000px;
  background-color: #2A2A2A;
  background-image:
    linear-gradient(to right, rgb(64, 64, 64, 1) 1px, transparent 1px),
    linear-gradient(to bottom, #404040 1px, transparent 1px),
    linear-gradient(to right, rgb(52, 52, 52, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(52, 52, 52, 0.5) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0,0);
  transform-origin: 0 0;
}

.node {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  min-height: 100px;
  color: rgb(0, 0, 0);
  font-family: 'Anonymous Pro';
  border-radius: 10px;
  border: 3px solid #000;
  position: absolute;
  overflow: hidden;
  user-select: none;
  cursor: grab;
}

.block-label {
  padding:6px;
  background:white;
  flex:0 0 auto;       /* stays natural height */
}

.block-padding {
  height: 6px;
}

.block-io {
  display:flex;
  flex:1 1 auto;       /* fills leftover space AND grows with contents */
  padding:2px 10px;
  background:#1C1C1C;
  gap:10px;
}

#scale-text {
  position: absolute;
  color: rgba(255, 255, 255, 0.404);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}

.node[data-type="I/O"] {background-color: #4285F4;}
.node[data-type="Loops"] {background-color: #FB8C00;}
.node[data-type="Logic"] { background-color: #34A853;}
.node[data-type="Math"] { background-color: #9C27B0;}
.node[data-type="Variables"] { background-color: #EA4335;}
.node[data-type="Terminator"] { background-color: #C8C8C8;}

.node {
  height:auto;   /* allow grow */
  min-height:100px;
}

.node:hover {
  outline: 1px solid rgb(101, 101, 101);
}

.node:focus {
  outline: 1px solid rgb(250, 250, 250);
}

.node.selected {
  outline: 1px solid rgb(250, 250, 250);
}

.selection-box {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none; /* so it doesnt block the mouse */
}

.inputs {
  background-color: rgba(255, 255, 255, 0);
  gap:6px;
  align-items:center;
  margin-top:6px;
  flex: 1;
}

.outputs {
  background-color: rgba(255, 255, 255, 0);
  gap:6px;
  align-items:center;
  margin-top:6px;
  margin-left: auto;
  flex: 1;
}

.content {
  display:flex;
  margin-top:auto; 
  align-items:center;
  justify-content:center;
  padding:6px;
  flex: 4;
}

.socket {
  padding:4px 6px;
  border-radius:4px;
  font-size:12px;
  cursor:pointer;
  width:max-content;
  margin: 0 auto;
}

.socket.type-flow {
  width: 20px;
  height: 25px;
  position: relative;
  background: transparent;
  border-radius: 3px;
  margin: 5px 0;
}

/* Triangle drawn inside clickable area */
.socket.type-flow::before {
  content: "";
  position: absolute;
  inset: 2px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background: #ffffff;
}

/* Data sockets = circle */
.socket.type-string,
.socket.type-float,
.socket.type-boolean,
.socket.type-integer,
.socket.type-any {
  width: 4px;
  height: 5px;
  margin: 10px auto 10px auto;
  background: #fff;
  border: 3px solid #000;
  border-radius: 50%;
}

/* Optional datatype coloring */
.socket.type-string{ border-color:#E91E63; }
.socket.type-integer { border-color:#1E3A8A; }
.socket.type-float { border-color: #00ACC1;}
.socket.type-boolean { border-color:#AEEA00; }
.socket.type-any { border-color:#9E9E9E; }

.content-item {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  box-sizing: border-box;
  
  background: #4d4d4d84; 
  color: #9a9a9a; 
  border: none;
  border-radius: 40px;
  padding: 10px 45px 0 18px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;

  height: 28px;
}

/* dropdown arrow */
.content-item {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%239a9a9a' height='14' width='14' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 30px;
  padding: 0 0 0 15px
}

/* optional hover + focus */
.content-item:hover,
.content-item:focus {
  color: #d5d5d5;
  background-color: #232323;
}